@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.25rem;
}

.logo {
    width: 5rem;
    margin-bottom: 1.25rem;
}

h1{
    font-family: 'Libre Franklin', sans-serif;
    color: var(--gray);
    font-weight: 300;
    margin-bottom: 1.25rem;
}

.titlespan {
    color: var(--very-dark-blue);
    font-weight: 700;
}

.description {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 1rem;
}



.container {
    min-height: 100vh;
    width: 100%;
    padding: 2rem;
    padding-top:6rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img {
    width: 100%;
    height: 100%;
}

form {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
}



form input {
    width: 100%;
    height: 3rem;
    padding: 1.25rem;
    border-radius: 3rem;
    margin-bottom: .5rem;
    border: 2px solid var(--pale-blue);
    outline: none;
}

form input::placeholder {
    color: var(--pale-blue);
    font-weight: 300;
    font-family: inherit;
}

form.error input[type="email"] {
    border-color:var(--light-red);
    margin-bottom: 2.2rem;
}

form.error .error_text {
    position: absolute;
    top: 4.3rem;
    font-size: .9rem;
    margin-top: 10px;
    color: var(--light-red);
    font-weight: 500;
    font-style: italic;
}

.btn {
    width: 100%;
    height: 3rem;
    border-radius: 3rem;
    outline: none;
    background: var(--blue);
    border: none;
    font-family: inherit;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    letter-spacing: 1.1px;
    box-shadow: 0px 0px 20px hsla(233, 87%, 63%, 0.32);
}

.btn:hover {
    background: var(--pale-blue);
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 3rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

ul li a {
    text-decoration: none;
    color: var(--blue);
    cursor: pointer;
    font-size: 2rem;
    transition: 0.3s;
    border: 1px solid var(--gray);
    border-radius: 50px;
    padding: .5rem;
}

ul li a:hover {
    background-color: var(--blue);
    color: #fff;
    border: none;
}

i {
    font-size: 2rem;
    margin: 0 5px;
}

.copyright {
    font-size: 0.8rem;
    text-align: center;
    margin: .25rem;
    color: var(--gray);
}

@media only screen and (min-width: 768px) {
    form {
        flex-direction: row;
        max-width: 700px;
        margin-bottom: 3rem;
    }
    form .btn {
        width: 40%;
        margin: 0;
        margin-left: 1.25rem;
    }
    form input {
        margin-bottom:  0;
    }
    .hero-img {
        max-width: 700px;
        margin: 0 auto;
    }
    form.error .error_text {
        left:2rem;
    }
    form.error input[type="email"] {
        margin-bottom: 0;
    }
}